:root {
  --heading-bg: #6943FF;
  --heading-input-border-color: #B295FF;
  --heading-btn-font-color: #3D3D3D;
  --heading-btn-hover-color: #e1e1e1;

  --output-container-bg: #1F2937;
  --output-wrapper-bg: #273549;
  --output-title-color: #CCC1FF;
  --white: #f1f1f1;

  --primary-font: 'Inter', 'Helvetica', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  min-height: 100vh;
  width: 100%;

  display: grid;
  place-items: center;

  font-family: var(--primary-font);
}

.main-container {
  width: auto;
  height: auto;
  margin: 0 20px;
}

.input-container {
  background-color: var(--heading-bg);

  width: auto;
  min-width: 100%;

  display: grid;
  place-items: center;

  &>h1 {
    font-family: inherit;
    font-size: calc(28/16 * 1rem);
    font-weight: 800;
    line-height: calc(38rem/16);
    letter-spacing: -0.03em;
    text-align: center;

    margin: 30px 50px;

    color: var(--white);
  }

  &>input {
    border: 2px solid var(--heading-input-border-color);
    border-radius: 5px;

    font-family: inherit;
    font-size: calc(58rem/16);
    font-weight: 800;
    line-height: calc(24rem/16);
    text-align: center;
    color: var(--white);
    background: transparent;

    width: clamp(1ch, 2ch, 6ch);

    padding: 6px 20px;

    transition: 0.1s ease-in-out;

    &:focus-within {
      outline: 4px solid var(--output-title-color);
      outline-offset: 2px;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type="number"] {
      -moz-appearance: textfield;
      appearance: text;
    }
  }

  &>button {
    border: none;
    border-radius: 5px;

    cursor: pointer;

    font-family: inherit;
    font-weight: 500;
    font-size: 1rem;
    line-height: calc(24rem/16);
    color: var(--heading-btn-font-color);
    background-color: white;

    padding: 10px 28px;
    margin-top: 26px;
    margin-bottom: 34px;

    transition: 0.1s ease-in-out;

    &:hover {
      background-color: var(--heading-btn-hover-color);
    }

    &:focus-within {
      outline: 4px solid var(--output-title-color);
      outline-offset: 2px;
    }
  }
}

.output-container {
  width: auto;
  min-width: 100%;
  height: auto;

  box-sizing: border-box;

  display: grid;
  gap: 24px;

  padding: 36px 24px;

  background-color: var(--output-container-bg);


  &>.output-wrapper {
    width: auto;
    min-width: 100%;
    height: auto;

    box-sizing: border-box;

    display: grid;
    gap: 10px;

    background-color: var(--output-wrapper-bg);
    padding: 32px 14px 14px;

    &>.output-title {
      font-family: inherit;
      font-size: calc(20rem/16);
      font-weight: 600;
      line-height: calc(20rem/16);
      text-align: center;

      color: var(--output-title-color);

      margin: 0;
    }

    &>.output-data {
      font-family: inherit;
      font-size: calc(14rem/16);
      font-weight: 400;
      line-height: calc(20rem/16);
      text-align: center;
      color: var(--white);

      margin: 0;
    }
  }
}